.navbar{
    border: dashed 1px black;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    background: yellow;
}
.navbar a{
    color:blue;
    text-align: center;
    font-size: 25px;
    margin-top: 2%;
}
.navbar a:hover{
    background-color: lightgreen;
    color:pink;
}
#about {
    border: solid 2px blue;
    margin: 10px;
    padding: 5px;
    border-radius: 2px;
    background: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
#resume {
    border: solid 2px blue;
    margin: 10px;
    padding: 5px;
    border-radius: 2px;
    background: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
#contactme {
    border: solid 2px blue;
    margin: 10px;
    padding: 5px;
    border-radius: 2px;
    background: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
.headertitle{
    border: double 5px white;
    background: black;
    border-radius: 2px;
    margin-top: 0;
    margin-left:0;
    margin-right:0;
}
.article{
    border: inset 2px black;
    background: lightgray;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 5px 10px;

}
#imagetwarita{
    box-shadow: 5px 10px;
    border: putset 2px black;
    border-radius: 5px;
}
#boxcontact{
    border: outset 5px black;
    background: grey;
    border-radius: 5px;
    box-shadow: 5px;
    top:10px;
    height: 300px;
    width: 200px;
    align: center;
    
}

#contactmepage{
    background: black;
    border: dashed white 2px;
    align: center;
}
.resumetitles{
    background: black;
    COLOR: white;

}
.resumedetails{
    border: inset black 2px;
    background: grey;
    font-size: 22px;
    width: 100%;
    height: auto;
}